@import "./bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  background-color: whitesmoke;
  color: black;
}

* {
  box-sizing: border-box;
}

.clienthub-toast {
  background-color: cornflowerblue!important;
  color: white!important;
  width: 100%;
  padding: 15px;
}

.toasted-container {
 width: 90%;
}

.nav-tabs {
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
  .nav-item {
    .nav-link.active {
      color: #007bff;
      background-color: inherit;
      border-bottom: 3px solid #007bff;
    }
    .nav-link {
      border: none;
      color: black;
    }
  }
}
