@import "./bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  background-color: whitesmoke;
  color: black;
}

main.container {
  margin-top: 70px + 30px;
  padding: 0 40px;
}

button,.button {
  transition: all .3s;
}

* {
  box-sizing: border-box;
}

a {
  transition: all .3s;
  color: cornflowerblue;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: cadetblue;
  }
}
